In [3]:
import pandas as pd

In [4]:
url = "https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv"
url

'https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv'

In [5]:
df_zones = pd.read_csv(url)

In [6]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [11]:
len(df_zones)

265

In [7]:
from sqlalchemy import create_engine

In [13]:
engine = create_engine("postgresql://root:root@localhost:5432/taxi_zone_lookup")

In [14]:
df_zones.to_sql(
    name="taxi_zone",
    con=engine,
    if_exists="replace"
)

265